body {
    background-color: rgb(177, 177, 177);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: greenyellow;
    font-size: 24px;
}

p{
    margin: 10px;
    font-size: 14px;
    font-family: sans-serif;
}
ol{
    background-color: aquamarine;
    border-radius: 25px;
    border: 2px solid black;
}